<template>
    <table class="table">
        <thead>
        <tr>
            <th v-for="column in columns">
                <abbr>{{upperFirst(column)}}</abbr>
            </th>
            <th>Controlls</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th v-for="column in columns">
                <abbr>{{upperFirst(column)}}</abbr>
            </th>
            <th>Controlls</th>
        </tr>
        </tfoot>
        <tbody>
        <tr v-for="item in data">
            <td v-for="column in columns">
                {{item[column]}}
            </td>
            <td>
                <a
                        v-if="canUpdate"
                        class="button is-primary"
                        @click="$emit('updateRow', item)">
                                        <span class="icon is-small">
                                          <i class="fa fa-pencil-square-o"></i>
                                        </span>
                </a>
                <a
                        v-if="canDelete"
                        class="button is-danger"
                        @click="$emit('deleteRow', item)">
                                        <span class="icon is-small">
                                          <i class="fa fa-trash-o"></i>
                                        </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script src="./script.js"></script>