<template>
    <ul class="menu-list">
        <li v-for="menu in model" v-show="open">
            <div @click="toggle(menu)">
                <router-link :to="menu.url">
                    <i
                            class="fa"
                            :class=[menu.icon_class]
                            aria-hidden="true"
                    >
                        {{menu.caption}}
                    </i>
                    <span class="marker" v-bind:class="{close: childOpen}" v-if="isFolder(menu)"></span>
                </router-link>
            </div>
            <div v-show="isFolder(menu)">
                <menu-item :model="menu.children" :open="childOpen"></menu-item>
            </div>
        </li>
    </ul>
</template>
<script src="./script.js"></script>
<style src="./style.css"></style>