.menu-list a {
    color: rgba(255, 255, 255, 0.9);
    border-radius: 0px;
}

.menu-list a:hover {
    color: #363636;
}

.menu-list li ul {
    border-left: none;
    margin: 0px;
    padding-left: 0px;
}

.menu-list li ul li a {
    padding-left: 1.5em;
}

.marker {
    float: right;
}

.marker::before {
    content: "^"
}

.marker.close {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
