<template>
    <section>
        <div class="container is-fluid">
            <div class="animated">
                <div class="dashboard">
                Dashboard<br/>
                Main page
                <canvas id="myChart" width="300" height="100"></canvas>
            </div>
            </div>
        </div>
    </section>
</template>
<script src="./script.js"></script>