<template>
    <div class="login-form">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Register
                </h1>
                <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input
                                        v-model="email"
                                        class="input"
                                        type="email"
                                        placeholder="Email">
                                <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input
                                        v-model="password"
                                        class="input"
                                        type="password"
                                        placeholder="Password">
                                <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input
                                        v-model="confirm_password"
                                        class="input"
                                        type="password"
                                        placeholder="Password">
                                <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-success"
                                        v-on:click="handleLoginFormSubmit">
                                    Register
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./script.js"></script>