// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//Bulma
//@import "../../../node_modules/bulma/bulma.sass";
//@import "../../../node_modules/bulma/sass/utilities/_all.sass";
//@import "~bulma";
@import './node_modules/bulma/bulma.sass';
@import "./node_modules/font-awesome/scss/font-awesome";

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  z-index: 99999;
}

.main-columns {
  padding-top: 70px;
}

.main-box {
  background-color: #f2f2f2;
  padding-top: 67px;
}

.footer-columns {
  margin-bottom: 0;
}

.has-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.margin-right-20 {
  margin-right: 20px;
}

.has-fixed{
  position: fixed;
  width: 100%;
}