<template>
    <div class="main">
        <main-nav-bar :isAuth="isAuth"></main-nav-bar>

        <div v-if="isAuth" class="column is-2 sidebar-menu">
            <left-sidebar></left-sidebar>
        </div>
        <div class="column main-box" v-bind:class="{'is-offset-2' : isAuth}">
            <section class="box">
                <router-view></router-view>
            </section>
        </div>

        <main-footer></main-footer>

    </div>
</template>

<script>
    import MainNavBar from './components/navbar/MainNavBar.vue';
    import Footer from './components/footer/Footer.vue';
    import Sidebar from './components/sidebar/Sidebar.vue';

    export default {
        data: function () {
            return {
                isAuth: null
            }
        },
        components: {
            'main-nav-bar': MainNavBar,
            'main-footer': Footer,
            'left-sidebar': Sidebar
        },
        beforeCreate(){
            //this.isAuth = this.$auth.isAuthenticated();
        },
        updated(){
            this.isAuth = this.$auth.isAuthenticated();
        },
        mounted(){
            this.isAuth = this.$auth.isAuthenticated();
        }
    }
</script>