<template>
    <div class="modal is-active">
        <div class="modal-background" @click="$emit('closeModal')"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"></p>
                <button class="delete" @click="$emit('closeModal')"></button>
            </header>
            <section class="modal-card-body">
                <div class="field" v-for="item in modelStructure">
                    <label class="label">{{ item.column | capitalize }}</label>
                    <p class="control has-icons-left has-icons-right">
                        <input
                                class="input"
                                type="item.inputType"
                                :name="item.column"
                                :class="{'is-danger': errors.has(item.column), 'is-success': isCorrectValue(item.value, item.column)}"
                                v-validate
                                :data-vv-rules="item.rules"
                                v-model="item.value"
                                :placeholder="item.column | capitalize ">
                        <span class="icon is-small is-left">
                        <i class="fa" :class="item.inputIcon"></i>
                    </span>
                        <span class="icon is-small is-right"
                              v-show="isCorrectValue(item.value, item.column)">
                        <i class="fa fa-check"></i>
                    </span>
                        <span class="icon is-small is-right"
                              v-show="errors.has(item.column)">
                        <i class="fa fa-warning"></i>
                    </span>
                    </p>
                    <p v-show="isCorrectValue(item.value, item.column)"
                       class="help is-success">This {{item.column}} is available</p>
                    <p v-show="errors.has(item.column)" class="help is-danger">
                        {{ errors.first(item.column) }}
                    </p>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a
                        class="button is-success"
                        @click="addNewRow"
                        :disabled="!changeButtonStatus"
                >
                    Save changes
                </a>
                <a class="button" @click="$emit('closeModal')">Cancel</a>
            </footer>
        </div>
    </div>
</template>
<script src="./script.js"></script>