<template>
    <section>
        <div class="container is-fluid">
            <div class="animated">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="block">
                            <a class="button is-success modal-button"
                               @click="showModalCard=true">Add new client</a>
                        </div>
                    </div>
                    <div class="tile is-parent">

                    </div>
                    <div class="tile is-parent">

                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Password access</th>
                                <th>Personal access</th>
                                <th>Redirect url</th>
                                <th>Revoke</th>
                                <th>Secret</th>
                                <th>User Id</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="client in oauthClients">
                                <td>{{client.id}}</td>
                                <td>{{client.name}}</td>
                                <td>{{client.password_client}}</td>
                                <td>{{client.personal_access_client}}</td>
                                <td>{{client.redirect}}</td>
                                <td>{{client.revoked}}</td>
                                <td>
                                    <a class="button" @click="showSecret(client.secret)">
                                        <span class="icon is-small">
                                          <i class="fa fa-eye"></i>
                                        </span>
                                    </a>
                                </td>
                                <td>{{client.user_id}}</td>
                                <td>{{client.created_at}}</td>
                                <td>{{client.updated_at}}</td>
                                <td>
                                    <a class="button is-danger" @click="clientDelete(client.id)">
                                        <span class="icon is-small">
                                          <i class="fa fa-trash-o"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <modal-classic
                v-show="showModalClassicSecret"
                @closeModal="showModalClassicSecret=false"
        >
            <article class="message is-primary">
                <div class="message-header">
                    <p>Secret</p>
                    <button class="delete" @click="showModalClassicSecret=false"></button>
                </div>
                <div class="message-body">
                    {{currentSecret}}
                </div>
            </article>
        </modal-classic>
        <modal-card
                v-show="showModalCard"
                :buttonSaveStatus="changeButtonStatus"
                @closeModal="showModalCard=false"
                @saveChanges="addNewClient"
        >
            <div class="field">
                <label class="label">Client name</label>
                <p class="control has-icons-left has-icons-right">
                    <input
                            class="input"
                            type="text"
                            data-vv-as="client name"
                            :class="{'is-danger': errors.has('newClient.name'), 'is-success': !errors.has('newClient.name')}"
                            v-validate="newClient.name"
                            data-vv-rules="required|min:5"
                            v-model="newClient.name"
                            placeholder="Name">
                    <span class="icon is-small is-left">
                        <i class="fa fa-indent"></i>
                    </span>
                    <span class="icon is-small is-right"
                          v-show="!errors.has('newClient.name')">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="icon is-small is-right"
                          v-show="errors.has('newClient.name')">
                        <i class="fa fa-warning"></i>
                    </span>
                </p>
                <p v-show="!errors.has('newClient.name')"
                   class="help is-success">This client name is available</p>
                <p v-show="errors.has('newClient.name')" class="help is-danger">
                    {{ errors.first('newClient.name') }}
                </p>
            </div>
            <div class="field">
                <label class="label">Redirect url</label>
                <p class="control has-icons-left has-icons-right">
                    <input
                            class="input"
                            type="text"
                            data-vv-as="redirect url"
                            :class="{'is-danger': errors.has('newClient.redirect'), 'is-success': !errors.has('newClient.redirect') }"
                            v-validate="newClient.redirect"
                            data-vv-rules="required|url"
                            v-model="newClient.redirect"
                            placeholder="http://example.com/redirect">
                    <span class="icon is-small is-left">
                        <i class="fa fa-link"></i>
                    </span>
                    <span class="icon is-small is-right"
                          v-show="!errors.has('newClient.redirect')">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="icon is-small is-right"
                          v-show="errors.has('newClient.redirect')">
                        <i class="fa fa-warning"></i>
                    </span>
                </p>
                <p v-show="!errors.has('newClient.redirect')"
                   class="help is-success">This url is available</p>
                <p v-show="errors.has('newClient.redirect')"
                   class="help is-danger">
                    {{ errors.first('newClient.redirect') }}
                </p>
            </div>
        </modal-card>
    </section>
</template>
<script src="./script.js"></script>