<template>
    <div>
        <model-view
                :showStandardTopButtons="false"
                @users_store="setPoliciStore"
                @modelStructure="setModelStructure"
        >
            <div slot="custom-buttons">
                <div class="tile is-parent">
                    <div class="block">
                        <a
                                @click="showModal"
                                v-if="canStore"
                                class="button is-success modal-button"
                        >Add new </a>
                    </div>
                </div>
            </div>
        </model-view>
        <modal-card
                @saveChanges="storeNewUser"
                @closeModal="showModalNewModel=false"
                v-show="showModalNewModel"
                :buttonSaveStatus="changeButtonStatus">
            <div class="field" v-for="item in modelStructure">
                <label class="label">{{ item.column | capitalize }}</label>
                <p class="control has-icons-left has-icons-right">
                    <input
                            class="input"
                            type="item.inputType"
                            :name="item.column"
                            :class="{'is-danger': errors.has(item.column), 'is-success': isCorrectValue(item.value, item.column)}"
                            v-validate
                            :data-vv-rules="item.rules"
                            v-model="item.value"
                            :placeholder="item.column | capitalize ">
                    <span class="icon is-small is-left">
                        <i class="fa" :class="item.inputIcon"></i>
                    </span>
                    <span class="icon is-small is-right"
                          v-show="isCorrectValue(item.value, item.column)">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="icon is-small is-right"
                          v-show="errors.has(item.column)">
                        <i class="fa fa-warning"></i>
                    </span>
                </p>
                <p v-show="isCorrectValue(item.value, item.column)"
                   class="help is-success">This {{item.column}} is available</p>
                <p v-show="errors.has(item.column)" class="help is-danger">
                    {{ errors.first(item.column) }}
                </p>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <div class="select">
                        <select v-model="selectedRoles" multiple :size="systemRoles.length">
                            <option v-for="role in systemRoles" :value="role.ident">
                                {{role.caption}}
                            </option>
                        </select>
                    </div>
                    <div class="icon is-small is-left">
                        <i class="fa fa-user-secret"></i>
                    </div>
                </div>
            </div>
        </modal-card>
    </div>
</template>
<script src="./script.js"></script>