<template>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p class="social">
                    <a
                            href="https://github.com/Greenelf">
                            <span class="icon"><i
                                    class="fa fa-github"></i></span>
                    </a>
                </p>
                <p>© 2017 www.money24.ua hesoyam</p>
            </div>
        </div>
    </footer>
</template>
<script src="./script.js"></script>