<template>
    <section>
        <div class="container is-fluid">
            <div class="animated">
                <div class="tile is-ancestor">
                    <div v-if="showStandardTopButtons" class="tile is-parent">
                        <div class="block">
                            <a
                                    v-if="canStore"
                                    @click="showModalNewModel=true"
                                    class="button is-success modal-button"
                               >Add new {{model}}</a>
                        </div>
                    </div>
                    <slot name="custom-buttons">

                    </slot>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <clasic-table :columns="columns" :data="modelData" :actions="modelActions" @updateRow="updateRow" @deleteRow="deleteRow"></clasic-table>
                    </div>
                </div>
            </div>
        </div>
        <modal-new-modal
                v-show="showModalNewModel"
                :modelStructure="modelStructure"
                :model="model"
                :updateModelId="updateModelId"
                @closeModal="showModalNewModel=false"
                @itemSaved="insertNewRow"
                @itemUpdated="refreshRow"
        ></modal-new-modal>
    </section>
</template>
<script src="./script.js"></script>