<template>
    <div class="modal is-active">
        <div class="modal-background" @click="$emit('closeModal')"></div>
        <div class="modal-content">
            <slot></slot>
        </div>
        <button class="modal-close is-large" @click="$emit('closeModal')"></button>
    </div>
</template>
<script src="./script.js"></script>