<template>
    <div class="modal is-active">
        <div class="modal-background" @click="$emit('closeModal')"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"></p>
                <button class="delete" @click="$emit('closeModal')"></button>
            </header>
            <section class="modal-card-body">
               <slot></slot>
            </section>
            <footer class="modal-card-foot">
                <a
                        class="button is-success"
                        @click="$emit('saveChanges')"
                        :disabled="!buttonSaveStatus"
                >
                    Save changes
                </a>
                <a class="button" @click="$emit('closeModal')">Cancel</a>
            </footer>
        </div>
    </div>
</template>
<script src="./script.js"></script>