<template>
    <nav class="navbar has-shadow is-transparent is-dark has-fixed">
        <a href="/" class="navbar-item">
            <div aria-label="v0.1.12"
                 class="is-hidden-mobile tooltip tooltip--right tooltip--success tooltip--small tooltip--rounded tooltip--always tooltip--no-animate">
                <span class="vue">Dashboard</span>
            </div>
        </a>
        <div v-show="isAuth" class="navbar-end margin-right-20">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    User menu
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Overview
                    </a>
                    <a class="navbar-item">
                        Elements
                    </a>
                    <a class="navbar-item">
                        Components
                    </a>
                    <hr class="navbar-divider">
                    <a v-on:click="logout" class="navbar-item">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div v-show="!isAuth" class="navbar-end margin-right-20">
            <div class="navbar-item">
                <p class="control">
                    <router-link :to="{ name: 'register' }"
                                 class="button is-success is-outlined">
                        Registration
                    </router-link>
                    <router-link :to="{ name: 'login' }"
                                 class="button is-success is-outlined">Login
                    </router-link>
                </p>
            </div>
        </div>
    </nav>
</template>
<script src="./script.js"></script>
<style src="./style.css"></style>