.navbar.is-dark {
    background-color: rgba(10, 10, 10, 0.71);
}

.navbar.is-dark .navbar-item, .navbar.is-dark .navbar-link {
    color: whitesmoke;
}

.navbar.is-dark .navbar-dropdown {
    background-color: rgba(122, 122, 122, 0.87);
    border-top-color: #02ccad;
}